<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ARK_Cross_Ark_Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ARK_Cross_Ark_Chat.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>500, 361</value>
            </setting>
            <setting name="Admins" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminIDs" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminLoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TribeLoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordChatWebhook" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminWebhook" serializeAs="String">
                <value />
            </setting>
            <setting name="TribeWebhook" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordBotEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordBotChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminBotChannel" serializeAs="String">
                <value />
            </setting>
        </ARK_Cross_Ark_Chat.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>